body {
    display: block;
    width: 380px;
    height: auto;
    max-height: 500px;
    padding: 20px;
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}